# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.pytest_cache/
.mypy_cache/

# Env
.env
.env.local

# Virtualenv
.venv/
venv/

# Django
db.sqlite3
media_root/
static_root/
app_logs/

# Git
.git/
.gitignore

# OS
.DS_Store

# Logs
*.log

# Local tooling and generated artifacts
.idea/
backup/
dbbackup/
documents/
