JTRO_DEBUG="True"
JTRO_ENVIRONMENT="dev"
JTRO_SECRET_KEY="replace-this-secret-key-outside-version-control"
JTRO_ALLOWED_HOSTS="127.0.0.1,localhost"
JTRO_LOGGER="OFF"
JTRO_DJANGO_LOG_LEVEL="INFO"
JTRO_BASE_URL="http://127.0.0.1:8000"
JTRO_DOMAIN="127.0.0.1:8000"

JTRO_CSRF_COOKIE_SECURE="False"
JTRO_CSRF_TRUSTED_ORIGINS=""
JTRO_DEV_DATABASE="sqlite"
JTRO_SSL_ENABLED="False"

EMAIL_BACKEND="django.core.mail.backends.console.EmailBackend"
EMAIL_HOST=""
EMAIL_PORT="587"
EMAIL_USE_TLS="True"
EMAIL_HOST_USER=""
EMAIL_HOST_PASSWORD=""
DEFAULT_FROM_EMAIL="webmaster@localhost"

WHO_IS_XML_API_KEY=""
GOOGLE_MAP_KEY=""
GEOIP_PATH=""
EXPLOIT_KEYWORDS=""
SHODAN_API_KEY=""
