JTRO_DEBUG="True"
JTRO_ENVIRONMENT="dev"
JTRO_SECRET_KEY="replace-this-secret-key-outside-version-control"
JTRO_ALLOWED_HOSTS="127.0.0.1,localhost,0.0.0.0"
JTRO_LOGGER="OFF"
JTRO_DJANGO_LOG_LEVEL="INFO"
JTRO_BASE_URL="http://127.0.0.1:8008"
JTRO_DOMAIN="127.0.0.1:8008"

JTRO_CSRF_COOKIE_SECURE="False"
JTRO_CSRF_TRUSTED_ORIGINS=""
JTRO_SSL_ENABLED="False"

# Docker PostgreSQL (used by docker-compose and scripts/deploy_and_run.sh)
SCANOPS_DB_NAME="db_scanops"
SCANOPS_DB_USER="scanops"
SCANOPS_DB_PASSWORD="scanops_dev_password"
SCANOPS_DB_PORT="5432"

# Optional direct Django DB settings for non-Docker runs
JTRO_DEV_DATABASE="postgres"
JTRO_DEV_DATABASE_ENGINE="django.db.backends.postgresql"
JTRO_DEV_DATABASE_NAME="db_scanops"
JTRO_DEV_DATABASE_USER="scanops"
JTRO_DEV_DATABASE_PASSWORD="scanops_dev_password"
JTRO_DEV_DATABASE_HOST="127.0.0.1"
JTRO_DEV_DATABASE_PORT="5432"

EMAIL_BACKEND="django.core.mail.backends.console.EmailBackend"
EMAIL_HOST=""
EMAIL_PORT="587"
EMAIL_USE_TLS="True"
EMAIL_HOST_USER=""
EMAIL_HOST_PASSWORD=""
DEFAULT_FROM_EMAIL="webmaster@localhost"

WHO_IS_XML_API_KEY=""
GOOGLE_MAP_KEY=""
GEOIP_PATH=""
EXPLOIT_KEYWORDS=""
SHODAN_API_KEY=""
