{% load static %}

<link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'assets/css/icons.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'assets/css/style.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'assets/css/incidents.css' %}" rel="stylesheet" type="text/css">

<!-- flatpickr -->
<link rel="stylesheet" href="{% static 'assets/css/flatpickr.min.css' %}">

<!-- select2 -->
<link href="{% static 'assets/css/select2.min.css' %}" rel="stylesheet"/>

<!-- dropzone files -->
<link href="{% static 'assets/css/dz_file.css' %}" rel="stylesheet"/>

<!-- Ollo Editor -->
<link href="{% static 'assets/css/ollo_editor.css' %}" rel="stylesheet"/>

<!-- Ollo Calender -->
<link href="{% static 'assets/css/ollo_calender.css' %}" rel="stylesheet"/>

<!-- upper js -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/jquery-prototype-guard.js' %}"></script>
