{% load static %}

<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap-compat.js' %}"></script>

<script src="{% static 'assets/plugins/fullcalendar/index.global.min.js' %}"></script>

<!-- App js -->
<script src="{% static 'assets/js/app.js' %}"></script>

<!-- flatpickr -->
<script src="{% static 'assets/js/flatpickr.min.js' %}"></script>

<!-- select2 -->
<script src="{% static 'assets/js/select2.min.js' %}"></script>

<!-- dropzone files -->
<script src="{% static 'assets/js/dz_file.js' %}"></script>

<!-- Incidents -->
<script src="{% static 'assets/js/incidents.js' %}"></script>

<!-- Ollo Editor -->
<script src="{% static 'assets/js/ollo_editor.js' %}"></script>
